.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-tertiary);
    padding: 1rem;
    width: 100%;
}



@media (min-width: 80em) {
    .footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: transparent;
        padding: 1rem;
        width: 100%;
    }
}