dialog {
    position: fixed;
    top: 3%;
    left: 10%;
    width: 80%;
    border: none;
    border-radius: 0.75rem;
}

.form-section {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    gap: 2rem;
    padding: 2rem;
}


.form-header {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form-header h1 {
    font-size: 1.5rem;
    color: var(--content-primary);
}

.form-header p {
    font-size: var(--paragraph-medium);
    color: var(--content-secondary);
}

.appointment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.3rem;
}

label {
    color: var(--content-primary);
    font-size: var(--paragraph-medium);
    font-weight: 600;
}

.input-wrapper {
    width: 100%;
    height: 3rem;

    border: 1px solid var(--border-primary);
    padding: 0.87rem 0.75rem;
    border-radius: 0.5rem;

    display: flex;
    margin-bottom: 1.5rem;
}

.input-wrapper:hover {
    border: 1px solid var(--border-secondary);
}

.input-wrapper:active {
    border: 1px solid var(--border-brand);
}


.input-wrapper i {
    margin-right: 0.5rem;
}

.input-wrapper input {
    flex: 1;
    font-size: 1rem;
    color: var(--content-secondary);
    background-color: transparent;
    margin-left: 0.5rem;
    outline: none;
    border: none;
}

textarea {
    width: 100%;
    min-height: 5rem;
    font-size: 1rem;
    border: 1px solid var(--border-primary);
    border-radius: 0.5rem;
    color: var(--content-secondary);

    background-color: transparent;
    outline: none;
}

textarea:hover {
    border: 1px solid var(--border-secondary);
}

textarea:active {
    border: 1px solid var(--border-brand);
}



.container-datetime {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-wrapper-date {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 12rem;

}

.input-wrapper-date-form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-wrapper-date-form:hover {
    border: 1px solid var(--border-secondary);
    border-radius: 0.5rem;

}

.input-wrapper-date-form:active {
    border: 1px solid var(--border-brand);
    border-radius: 0.5rem;

}



.date-picker {
    width: 100%;
    padding: 0.75rem 2.5rem;
    background: transparent;
    border: 1px solid var(--border-primary);
    color: var(--content-secondary);
    font-family: "Inter", sans-serif;
    border-radius: 0.5rem;
    font-size: 1rem;
    appearance: none;
    -webkit-appearance: none;
}

.date-picker-icon {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
}

.date-picker-icon:first-of-type {
    left: 0.75rem;
}

.date-picker-icon:last-of-type {
    right: 0.75rem;
}

.date-picker::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

.input-wrapper-hour {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 100%;
}

.hour-picker {
    width: 100%;
    padding: 0.75rem 2.5rem;
    background: transparent;
    border: 1px solid var(--border-primary);
    color: var(--content-secondary);
    font-family: "Inter", sans-serif;
    border-radius: 0.5rem;
    font-size: 1rem;
    appearance: none;
    -webkit-appearance: none;
}

.hour-picker:hover {
    border: 1px solid var(--border-secondary);
    border-radius: 0.5rem;

}

.hour-picker:active {
    border: 1px solid var(--border-brand);
    border-radius: 0.5rem;

}



.hour-picker.invalid {
    border: 2px solid red;
    opacity: 0.5;
}


.hour-picker-icon {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
}

.hour-picker-icon:first-of-type {
    left: 0.75rem;
}

.hour-picker-icon:last-of-type {
    right: 0.75rem;
}

.hour-picker::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

.wrapper-button {
    display: flex;
    justify-content: flex-end;
}


@media (min-width: 80em) {
    dialog {
        position: fixed;
        top: 3%;
        left: 30%;
        width: 40%;
        border: none;
        border-radius: 0.75rem;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .container-datetime {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}