.header {
    height: 5vh;

}

.header-content {
    display: flex;
    padding: 1.2rem;
    gap: 0.5rem;
    min-width: 8rem;
    max-width: 12rem;
    background: var(--content-fourth);
    border-radius: 0px 0px 0.7rem 0px;
}

.logo-text {
    color: var(--content-brand);
    font-family: "Inter Tight", sans-serif;

}