.container {
    padding: 1rem;
}

.schedule-header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.schedule-title {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.schedule-title h1 {
    font-size: 1.5rem;
    color: var(--content-primary);
}

.schedule-title p {
    font-size: var(--paragraph-medium);
    color: var(--content-secondary);
}



.schedule {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.schedule-periods {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.period-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--content-fourth);
    border-radius: 0.6rem;
}

.period-info {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1rem;

}

.period-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    font-size: 0.9rem;
    gap: 0.3rem;
    color: var(--content-primary);
}

.period-hour {
    color: var(--content-secondary);
    font-size: 1rem;
    font-weight: 600;

}

.separator {
    border: 1px solid var(--content-tertiary);
    min-width: 100%;
    padding: 0;
}

.appointment-card {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;


}

.appointment-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.appointment-text {
    font-size: var(--paragraph-medium);

    color: var(--content-primary);
    font-weight: 600;
}

.tutor-name,
.appointment-service {
    font-size: var(--paragraph-medium);
    color: var(--content-secondary);
    font-weight: 500;
}

.btn-remove {
    background: transparent;
    border: none;
    color: var(--content-secondary);
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

@media (min-width: 80em) {
    .container {
        height: 80vh;
        padding: 0rem 14rem;
    }

    .schedule-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.75rem;
    }

    .appointment-card {
        display: flex;
        flex-direction: row;
        padding: 1.25rem;
        justify-content: space-between;
    }

    .appointment-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 60%;

    }

    .appointment-text {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .btn-remove {
        background: transparent;
        border: none;
        color: var(--content-secondary);
        display: flex;
        margin-top: 0rem;
    }

}